/* Estilos para el contenedor principal */
.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título de la sección */
.title {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

/* Estilo para la tabla */
.dataTable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

/* Estilo para las cabeceras de la tabla */
.dataTable th {
  background-color: #4caf50;
  color: white;
  text-align: left;
  padding: 8px;
  font-family: Arial, sans-serif;
}

/* Estilo para las filas de la tabla */
.dataTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

/* Estilo para filas alternas */
.dataTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilo para hover en las filas */
.dataTable tr:hover {
  background-color: #ddd;
}

/* Estilo para el input de búsqueda en la subcabecera */
.searchInput {
  padding: 8px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Estilos para botones de la paginación */
.paginationButton {
  padding: 8px 16px;
  margin: 4px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.paginationButton:hover {
  background-color: #45a049;
}

/* Estilo para la fila seleccionada */
.selectedRow {
  background-color: #fffbcc !important;
}

/* Contenedor de botones de opciones */
.options {
  display: flex;
  gap: 15px;
}

/* Estilo base para ambos botones */
.button {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Botón para ver detalles */
.viewButton {
  background-color: #4caf50;
  color: white;
}

/* Efecto hover para "Ver Detalles" */
.viewButton:hover {
  background-color: #45a049;
  transform: translateY(-2px); /* Animación de elevación al hacer hover */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
}

/* Botón para eliminar */
.deleteButton {
  background-color: #f44336;
  color: white;
}

/* Efecto hover para "Eliminar" */
.deleteButton:hover {
  background-color: #e53935;
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

/* Efecto al hacer clic en los botones */
.button:active {
  transform: translateY(0); /* Volver a su posición original al hacer clic */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra original al hacer clic */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modalContent {
  display: flex;
  flex-direction: column;
}

.modalActions {
  margin-top: 20px;
}

.saveButton {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.cancelButton {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
