/* app/globals.css */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  display: grid;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: inherit;
}

#root,
.app {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
}

footer {
  margin-top: auto; /* Empuja el footer hacia abajo */
}
